{% extends '@App/base.html.twig' %}

{% block title %}Index !{% endblock %}

{% block body %}
    <div class="header">
        <img src="{{ asset('images/amg.jpg') }}" class="banniere-img img-responsive" />
    </div>
    <p>{{ project }}</p>
    <div class="jumbotron">
        <h3>Hello World ! Bienvenue</h3>
    </div>
{% endblock %}
